* {
    box-sizing: border-box;
}

/*#progress_bar {*/

    /*width: 50%;*/
    /*margin-left: 25%;*/
    /*height: 50px;*/
    /*border: 1px solid #aaaaaa;*/
    /*background-color: #DCC;*/
/*}*/

body {
    background: #AACCAA;
    font-family: arial, sans-serif;
    font-size: 15pt;
}

main {
    max-width: 80%;
    margin: auto;
    padding-left: 20%;
}

header {
    border-bottom: 1px solid #99DD99;
}

/*h1, h2, h3, h4, h5, h6 {*/
    /*color: #441;*/
    /*margin-bottom: 5px;*/
/*}*/

/*h1 {*/
    /*font-size: 2rem;*/
/*}*/

/*h2 {*/
    /*font-size: 1.75rem;*/
/*}*/

/*h3 {*/
    /*font-size: 1.5rem;*/
/*}*/

/*p {*/
    /*font-size: 1rem;*/
/*}*/

/*ul {*/
    /*font-size: 1rem;*/
    /*list-style: none;*/
/*}*/

footer ul {
    color: #DDDDAA;
    font-size: 0.75rem;
    list-style-type: none;
}

nav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #BBC; /*Purple*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

button {
    height: 50px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
}

.answer-key {
    height: auto;
    border-radius: 10px;
    vertical-align: middle;
    margin: 10px;
    background-color: #EEEEEE;
    width: auto;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.answer-slot {
    margin: 0;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    background-color: #EEEEEE;
    display: inline-block;
    float: left;
}
